<%= form_for @employee do |f| %>

    <% if @employee.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@employee.errors.count, "error") %> prohibited
                this employee from being saved:
            </h2>
            <ul>
                <% @employee.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <p>
        <%= f.label "asdasdasd" %><br>
        <%= f.text_field :first_name %>
    </p>

    <p>
        <%= f.label :second_name %><br>
        <%= f.text_field :second_name %>
    </p>

    <p>
        <%= f.label :phone %><br>
        <%= f.text_field :phone  %>
    </p>
    <p>
        <%= f.label :hire_date%><br>
        <%= f.text_field :hire_date  %>
    </p>
    <p>
        <%= f.label :place %><br>
        <%= f.text_field :place  %>
    </p>

    <p>
        <%= f.submit %>
    </p>
<% end %>